@page
@using SalesReportSystem.Pages.Report.Model
@model SalesReportSystem.Pages.Report.admin.AddSalesModel
@{
}

<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <h1 class="mb-3">ADD SALES</h1>
        

        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="mb-3">
                <label class="form-label" asp-for="Model.SaleDate">Sale Date</label>
                <input type="date" asp-format="{0:yyyy-MM-dd}" asp-for="Model.SaleDate" class="form-control" />
                <span asp-validation-for="Model.SaleDate" class="text-danger" />
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="Model.Amount">Amount</label>
                <input type="text" asp-for="Model.Amount" class="form-control" />
                <span asp-validation-for="Model.Amount" class="text-danger" />
            </div>
            <div class="col-md-3">
                <label class="form-label" asp-for="Model.UserId"></label>
                <select asp-for="Model.UserId" asp-items="@(new SelectList(Model.ddlUser,"UserId","Name"))"></select>
                <span asp-validation-for="Model.UserId" class="text-danger" />
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">ADD</button>
            </div>
        </form>
    </div>
</div>


@if (Model.SaleList.Count > 0)
{
    <div class="container mt-5">
        <div class="row justify-content-center align-items-center">
            <h1 class="mb-3">SALES LIST</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayName("Sale Date")
                        </th>
                        <th>
                            @Html.DisplayName("Sale Amount")
                        </th>
                        <th>
                            @Html.DisplayName("Sale Person Name")
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.SaleList)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.SaleDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Amount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SalePersonName)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}





@section Scripts {
<script type="text/javascript">
        $(document).ready(function () {
            var modelJSValue = '@Model.AddSalesMessageText';
            if (modelJSValue.length > 0 ) { alert(modelJSValue); }
        });

</script>
}